.img1 {
    width: 100%;
}

h1{
    margin-top: 100px;
    margin-left: 110px;
    padding-bottom: 35px;
}



.user {
    background-image: url('../../../../public/images/pokedex.png');
    background-repeat: no-repeat;
    background-size: 99% 100%;
    border-radius: 20px;
  
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 92%;
    height: 715px;
    margin: auto;

    /*stacking fieldsets above each other*/
    position: relative;
}

.pokedex{
    width: 70%;
    margin: auto;
}

/*Hide all except first fieldset*/
.formCreate fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
.user input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}



/*buttons*/
.user button {
    width: 60px;
    background: #2bb43b;
    /* font-weight: bold; */
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: 38px;
    margin-right: 30px;
    font-family: 'pokemon', sans-serif;
    font-size: 6px;
    text-transform: uppercase;
}

.user button:hover,
.user button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}